In [ ]:
import pandas as pd

In [ ]:
orders = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\Orders.txt")
orders.head(3)

In [ ]:
month = {5:"Jan",
        2:"feb",
        3:"Mar",
        4:"Apr"}
month.keys()
month.values()
month[5]

In [ ]:
month = {5:"Jan",
        2:"feb",
        3:"Mar",
        4:"Apr"}

s = pd.Series(month)
type(s)
s
s.

In [ ]:
l = [1,45,34,56]
l_s = pd.Series(l)
l_s

In [ ]:
l = [1,2,3,4]
ls = pd.Series(l)

In [ ]:
type(ls)

In [ ]:
def first_fun1(cell):
    if(cell.upper() == 'CLOSED'):
        return("Raj")
    else:
        return(cell)

In [ ]:
orders_schema = ["order_id",
                "order_date",
                "order_customer_id",
                "order_status"]

In [ ]:
# Defining schema
order_items_schema = ['order_item_id',
                     'order_item_order_id',
                     'order_item_product_id',
                     'order_item_quanity',
                     'order_item_subtotal',
                      'order_item_product_price']

In [ ]:
orders = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\Orders.txt",header=None,names=orders_schema,\
                    converters = {
                        'order_status':first_fun1
                    })
orders.head(3)

In [ ]:
# Single condition filtering and multiple condition filterting
orders[['order_id','order_date']]
b = orders[orders.order_id ==3]
a = orders[(orders.order_id == 2) & (orders.order_status =='PENDING_PAYMENT') ]
c = orders[orders['order_id' ]== 2]
d = orders.query('order_id ==2')
d

In [ ]:
e = order_items[(order_items.order_item_order_id ==2) & ((order_items.order_item_subtotal >=150) &
                                                         (order_items.order_item_subtotal <=250)) ]
e

In [ ]:
# Single condition filtering and multiple condition filterting using query approach
f = order_items.query('order_item_order_id ==2 and order_item_subtotal>=150 and order_item_subtotal<=250' )
g = order_items.query('order_item_order_id==2 and ' +
                     'order_item_subtotal >=150 and ' +
                     'order_item_subtotal <=250')
g

In [ ]:
# Getting part of string and lower functions
orders.head(2)
orders[orders.order_date == '2013-07-25 00:00:00.0' ]
orders[orders.order_date.str.startswith('2013-07')]
orders['order_status'] = orders['order_status'].str.lower()
orders.query('order_date.str.startswith("2013-07-25")',engine='python')

In [ ]:
#to get no of elements and columns
orders.shape

In [ ]:
order_items  = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\Order_items.txt",header=None,names=order_items_schema)
order_items.head(3)

In [ ]:
#gives count of all non null values in all fields and also in specific columns
orders.count()
order_items.count()
orders.count()['order_id']
orders.count()[[('order_id'),('order_date')]]

In [ ]:
# gives the aggegrate data of all numeric columns
orders.describe()
order_items.describe()

In [ ]:
#getting sum per order
order_items[order_items.order_item_order_id==2]
order_items[order_items.order_item_order_id ==2].order_item_subtotal.sum()

In [ ]:
# Grouping no.of orders per day and retriving one columns and multiple columns
orders[orders.order_date.str.startswith("2013-07")]
orders.groupby([orders.order_date]).count()
orders.groupby(orders.order_date)[['order_id','order_status']].count()

In [ ]:
# no.of orders per status
orders.groupby(orders.order_status).count()

In [ ]:
# computer revenue for each order
orders.groupby('order_id') ['order_status'].count()
order_items.groupby('order_item_order_id')['order_item_subtotal'].sum()

In [ ]:
# computer revenue for each order another approach
order_items.groupby('order_item_order_id')['order_item_subtotal'].\
agg(['sum','count','min','max','mean']).\
rename(columns = {
    'count' :'Order_item_count',
    'sum':'Order_item_sum',
    'min':'Min_Value'
})

In [ ]:
order_items.groupby('order_item_order_id')['order_item_subtotal'].\
agg(['sum','count']).\
rename(columns={
    'sum':'Totoal_sum',
    'count' : 'Totoal_count'
})

In [ ]:
#renaming columns
order_items.rename(columns = {'order_item_order_id' : 'Order_id'})

In [ ]:
#writing back to files
orders.to_csv(r"C:\Users\Lenovo\Desktop\Data_Science\tgt\pandas_output.csv")

In [ ]:
#writing back to SON files and we need to use orient table option
orders.to_json(r"C:\Users\Lenovo\Desktop\Data_Science\tgt\pandas_output.json",orient='table')

In [ ]:
#setting index for join

orders.set_index('order_id')
order_items.set_index('order_item_order_id')

In [ ]:
#Joining and by default it is left outer join
orders.set_index('order_id').join\
(order_items.set_index('order_item_order_id'))

In [ ]:
orders.set_index('order_id').join\
(order_items.set_index('order_item_order_id'),how='right')

In [ ]:
# compute daly revuene per order using order date for only closed and completed orders
orders_conisered =orders.query("order_status in ('complete','closed')")
orders_conisered.set_index('order_id')

In [ ]:
orders[orders.order_status.isin(['complete','closed'])]

In [ ]:
a = orders_conisered.set_index('order_id').join\
(order_items.set_index('order_item_order_id'),how ='inner').\
groupby('order_date')['order_item_subtotal'].agg(['sum']).\
rename(columns={
    'sum':'NUEEE'
})

a

#  ############  CODE BASICS ####################

Process of cleaning messy data is called Data wrangling or Data munging

In [ ]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\weather")
df

In [ ]:
#selecting one column and multiple colums
df.day
df['day']
df[['day','event']]

In [ ]:
df.shape
df.describe()
df.info()
df.columns

In [ ]:
#printing top,bottom and middle records
df.head()
df.tail()
df[2:5]

In [ ]:
#creating new column from exisiting column
df['eventt'] = df['event']

In [ ]:
df

In [ ]:
df.temperature.max()
df['temperature'].max()

In [ ]:
df[df.temperature>32]
df[df.temperature>32][['day','event']] 
df[df.temperature == df['temperature'].max()]
df[df.temperature == df['temperature'].max()][['day','event']]
df[['day','event']][df.temperature == df['temperature'].max()]

In [ ]:
#seting index. We need to use inplace=True then only the set_index will be applied permanetly applied on dataframe
df.set_index('day',inplace=True)

In [ ]:
df

In [ ]:
#advantage of index
df.loc['1/2/2017']

In [ ]:
#resetting index
df.reset_index(inplace=True)
#df.drop(['B', 'C'], axis=1)

In [ ]:
df.drop(['level_0'],axis=1,inplace=True)

In [ ]:
df

In [ ]:
#Different ways of creating dataframe
# dictt

dictt = {
    'day' :['1/1/2017','1/2/2017','1/3/2017'],
    'temperature' :[32,43,56]
}
a = pd.DataFrame(dictt)
a

In [ ]:
#list of tuples
lot = [('1/1/2017',32),
      ('1/2/2017',34)]
b = pd.DataFrame(lot,columns=['Day','Temp'])
b

In [ ]:
#list of dictonary
lod = [
    {'day':'1/1/2017','Age':32},
    {'day':'1/2/2017','Age':34}
]
c = pd.DataFrame(lod)
c

# Reading and Writing to Pandas

In [ ]:
#passing header
reads = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\Orders.txt",header=None,\
                    names=['Order_id','Order_date','Order_Product_id','Order_status'])
reads.head(4)

In [ ]:
#skipping fist two rows and reading only rest 4 rows
reads = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\Orders.txt",skiprows=2,nrows=4)
reads

In [ ]:

nulls = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\Stocks")
nulls

In [ ]:
#replacing not available and n.a. with NaN in all columns

nulls = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\Stocks",na_values=['not available','n.a.'])
nulls

In [ ]:
# replacing null values in specific columns
nulls = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\Stocks",na_values={
    'eps':['not available','n.a.'],
    'people':['not available','n.a.'],
    'revenue':['not available','n.a.',-1]
       })
nulls

In [ ]:
#save output into file without index
nulls.to_csv(r"C:\Users\Lenovo\Desktop\Data_Science\tgt\no_inex.csv",index=False)

In [ ]:
#writing only specific columns
nulls.to_csv(r"C:\Users\Lenovo\Desktop\Data_Science\tgt\no_index_c.csv",index=False,columns=['eps','price'])

# Reading_Excel

In [ ]:
def first_fun(cell):
    if(cell == 'closed'):
        return("Raj")
    else:
        return(cell)

In [ ]:
excell = pd.read_excel(r"C:\Users\Lenovo\Desktop\Data_Science\src\Excel_input.xlsx","Excel_input")
excell.head(3)

In [ ]:
# calling a function to apply logic on a column
excell = pd.read_excel(r"C:\Users\Lenovo\Desktop\Data_Science\src\Excel_input.xlsx","Excel_input",\
                      converters = {
    'order_status':first_fun
})
excell.head(3)

In [ ]:
# we have to specify the format type as .xlsx
nulls.to_excel(r"C:\Users\Lenovo\Desktop\Data_Science\tgt\excel_outptu.xlsx",sheet_name='stocks')

In [ ]:
# at which place we need to write in excel. Here we are skipping first row and first 2 columns
nulls.to_excel(r"C:\Users\Lenovo\Desktop\Data_Science\tgt\excel_outptu.xlsx",\
               sheet_name='stocks',startcol=2,startrow=1,index=False)

In [ ]:
#effective way of writing to excels
with pd.ExcelWriter(r"C:\Users\Lenovo\Desktop\Data_Science\tgt\two_sheets.xlsx") as writer:
                    nulls.to_excel(writer,sheet_name='stocks')
                    reads.to_excel(writer,sheet_name='weather',index=False)

#  Handle Missing Data

In [833]:
#convert an string into date column
wea = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\weather",parse_dates=['day'])
type(wea.day[0])
wea.set_index('day',inplace=True)
wea

            temperature  windspeed  event
day
2017-01-01         32.0          6   Rain
2017-01-02         35.0          7  Sunny
2017-01-03         28.0          2    NaN
2017-01-04         24.0          7   Snow
2017-01-05          NaN          4   Rain
2017-01-06         31.0          2  Sunny

In [834]:
#flling all null values with 0
new = wea.fillna(0)
new

            temperature  windspeed  event
day
2017-01-01         32.0          6   Rain
2017-01-02         35.0          7  Sunny
2017-01-03         28.0          2      0
2017-01-04         24.0          7   Snow
2017-01-05          0.0          4   Rain
2017-01-06         31.0          2  Sunny

In [ ]:
# replacing specific columns with some values
neww = wea.fillna({
    'temperature':0,
    'event':'No_event'
})
neww

In [ ]:
# replacing pervious values in the null value
ffill = wea.fillna(method='ffill')
ffill

In [ ]:
# replacing before values in the null value
bfill = wea.fillna(method='bfill')
bfill

In [ ]:
#interpolate will populate mean in the places of nulls
new_df = wea.interpolate()
new_df

In [ ]:
#it will populate nulls values with considering time. Below example does not cover the use case
#https://www.youtube.com/watch?v=EaGbS7eWSs0&list=PLeo1K3hjS3uuASpe-1LjfG5f14Bnozjwy&index=5  (16:00)
new_df_time = wea.interpolate("time")
new_df_time

In [ ]:
# It will drop all the rows which as nulls
new_drop = wea.dropna()
new_drop

In [837]:
#it will drop the columns which has all null values
new_dropp = wea.dropna(how = "all") 
# It will drop the columns which has more than one null values
#new_dropp = wea.dropna(thresh=1)

In [ ]:
#inserting missing date. Suppose if we have date for 01 and for 4th then 
#using below statment we can populate data for 2nd & 3rd (reindex)
dt = pd.date_range("2017-01-01","2017-01-10")
idx = pd.DatetimeIndex(dt)
df = wea.reindex(dt)
df

In [ ]:
#handling missing data : replace function
import numpy as np
nedf = df.replace(np.NaN,'Rajja')
nedf = df.replace([np.NaN,'Snow'],'Rajja')  # replacing two values with Rajja
nedf

In [ ]:
#replacing values at each column level with same value
nedd = df.replace({
    'temperature':[32,35],
    'event':['Sunny']
    
},'Hero')
nedd

In [ ]:
#replacing values with values but in all columns
nedd = df.replace({
    32:35,
    'Sunny':'Bunny'
    
})
nedd

In [ ]:
# regular expressions
#replacing values with values but in all columns
nedd = df.replace({
    'event':'[A-Za-z]'
    
},'',regex=True)
nedd

In [ ]:
#replacing list of values with list of values
dictt = pd.DataFrame({
    'Score':['Good','Bad','Excellent','Averge','Good'],
    'Names':['Nandu','Pandu','Laddu','Bantu','Hintu'],
})
dict1 = dictt.replace(
    ['Good','Bad','Excellent','Averge'],[3,2,4,1])
dict1

In [ ]:
# final what Is most used : Replacing multiple values in a specific columns


dict1 = dictt.replace(
    
    {
        'score':{'Good':2,'Bad':5,'Excellent':1,'Average':4}
    }
)
dict1

# Group By

In [ ]:
orders.head(3)
g = order_items.groupby('order_item_order_id')
for i ,ip in g:
    print(i)
    print(ip)

In [ ]:
# Doing group by and getting all the records 
g1 = order_items.groupby('order_item_order_id')
g1.max()
g1.describe()

# Concatenate

In [ ]:
#normal jjoin
orders.set_index('order_id').join\
(order_items.set_index('order_item_order_id'))[['order_date','order_item_product_price']].\
groupby('order_date')['order_item_product_price'].agg(['sum','min']).\
rename(columns={
    'sum':'Total',
    'min':'Miniumun_value'
               })

In [ ]:
#union in oracle and concat in pandas
pd.concat([orders,order_items])

In [ ]:
#we need to ignore index are else the index will be started from 1 for both the dataframes

pd.concat([orders,order_items],ignore_index=True)

In [ ]:
# If we use keys then name will be given to the each dataframe
al = pd.concat([orders,order_items],keys=['Orders','Order_items'])
al.loc['Orders']

In [ ]:
orders.set_index('order_id',inplace=True)
order_items.set_index('order_item_order_id',inplace=True)

In [ ]:
# axis is 0 then it will union and axis is 1 then it will join. This is not effective method
al1 = pd.concat([orders,order_items],axis=1)
al1

In [ ]:
orders.head()

# Merge Dataframes

In [ ]:
#using suffixes we can suffixes the column names
pd.merge(orders,order_item_order_id,on="order_id")

# Pivot and Pivot table

Pivot allows to reshape the dataframe

In [ ]:
piv = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\weather_pivot")
piv

In [ ]:
piv.pivot(index='date',columns='city')

In [ ]:
piv.pivot(index='city',columns='date')

In [ ]:
piv.pivot(index='city',columns='date',values='humidity')

In [ ]:
#pivot table is used to summarize and aggregate the data inside the dataframe
pivt = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\weather_table_pivot")
pivt

In [ ]:
pivt.pivot_table(index='date',columns='city')

In [ ]:
pivt.pivot_table(index='city',columns='date',aggfunc='sum')

In [ ]:
pivt.pivot_table(index='date',columns='city',margins=True)

In [ ]:
#converting string to date
piv['date'] = pd.to_datetime(piv['date'])
piv

In [ ]:
#Aggregation on monthly basis applying pivot table function
piv.pivot_table(index=pd.Grouper(freq='M',key='date'),columns='city')

# Reshape and Melt

In [ ]:
#melt ---> It is used to convert row to columns
mel = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\melt")
mel

In [ ]:
df5 = pd.melt(mel,id_vars=['day'])
df5

In [ ]:
df5[df5['variable'] =='berlin']

In [ ]:
df5 = pd.melt(mel,id_vars=['day'],var_name='city',value_name='Temp')
df5

# Stack and UNSTACK

In [ ]:
#two level of column headers
stac = pd.read_excel(r"C:\Users\Lenovo\Desktop\Data_Science\src\stacks.xlsx",header=[0,1])

stac

In [ ]:
#it stacked inner most level
stac.stack()

In [ ]:
#stacking first level
sacked = stac.stack(level=0,dropna=True)
sacked

In [ ]:
sacked.unstack()

# CROSSTAB

In [ ]:
#two level of column headers
cross = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\crosstab")

cross

In [ ]:
pd.crosstab(cross.Nationality,cross.Handedness)

In [ ]:
pd.crosstab(cross.Sex,cross.Handedness,margins=True)

In [ ]:
pd.crosstab(cross.Nationality,[cross.Sex,cross.Handedness],margins = True)

In [ ]:
#index gives percentage
pd.crosstab(cross.Nationality,cross.Handedness,normalize = 'index')

In [ ]:
pd.crosstab(cross.Sex,cross.Handedness,normalize = 'index')

In [ ]:
pd.crosstab([cross.Sex],[cross.Handedness],values=cross.Age,aggfunc = 'min')

# Time Series Analysis #######################

In [ ]:
#Date time index and resampling
apple = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\Apple",parse_dates=['Date'],index_col='Date')

#apple.index
apple["2016-06"]
apple

In [ ]:
#calcutaling average of CLOSE for 2016-06
apple["2016-06"].Close.mean()

In [ ]:
#getting records for a range
apple["2016-06-16":"2016-06-26"]

In [ ]:
#getting records for a range and performing aggregation
apple["2016-06-16":"2016-06-26"].Close.mean()

In [ ]:
apple.Close.resample('W').mean().plot(kind='pie')

# Date Range

In [ ]:
#date_r = apple.drop(['Low'],axis=1)
#df.drop(['B', 'C'], axis=1)
dater = apple.reset_index(drop=True)

In [ ]:
dater

In [ ]:
#defining range of dates
rng = pd.date_range(start='2016-06-16',end='2017-05-02',freq = 'B')
rng

In [ ]:
#setting those dates as index for dater dataframes
dater.set_index(rng,inplace=True)

In [ ]:
dater

In [ ]:
%matplotlib inline
dater.Close.plot()

In [ ]:
dater["2016-06-16":"2016-06-26"].Close.mean()

In [ ]:
dater.asfreq('M',method='pad')

In [ ]:
#defining range where we dont end date
rng1 = pd.date_range(start='2016-06-16',periods=34,freq = 'B')

rng1

In [ ]:
#adpple3 = apple.set_index(rng1,inplace=True)
rng1 = pd.date_range(start='2016-06-16',periods=len(dater),freq = 'B')
dater.set_index(rng1,inplace=True)

In [ ]:
dater

# Handling holidays

In [ ]:
# US calendar holiday
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [ ]:
rngg = pd.date_range(start='2017-07-01',end='2018-05-31',freq=usb)

In [ ]:
dater.set_index(rngg)

# Creating own birthday calendar

In [ ]:
from pandas.tseries.holiday import AbstractHolidayCalendar,nearest_workday,Holiday
class Mybirth(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/
       snow-dismissal-procedures/federal-holidays/
    """

    rules = [
        Holiday("Raj Birthday", month=7, day=5)#, observance=nearest_workday),
        
    ]
    
myc = CustomBusinessDay(calendar=Mybirth())
myc

In [ ]:
pd.date_range(start='2017-07-01',end='2018-05-31',freq=myc)

In [ ]:
from pandas.tseries.holiday import AbstractHolidayCalendar,nearest_workday,Holiday
class Mybirth(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/
       snow-dismissal-procedures/federal-holidays/
    """

    rules = [
        Holiday("Raj Birthday", month=7, day=5)#, observance=nearest_workday),
        
    ]
    
eg1 = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu',holidays=["2020-05-04"])
eg1

In [ ]:
pd.date_range(start='2020-05-01',end='2020-05-31',freq=eg1)

# to_datetime method

In [ ]:
datee = ['2017-01-05 2:30 PM','Jan 5 2017','06/05/2017','2017.01.05','2017/01/05','20170105']
pd.to_datetime(datee)

In [ ]:
# US  dates
pd.to_datetime('5/1/2017')

In [ ]:
# UK dates
pd.to_datetime('5/1/2017',dayfirst=True)

In [ ]:
#handling any date format
pd.to_datetime('01-04$2002',format='%d-%m$%Y')

In [ ]:
pd.to_datetime('01-04$2002',format='%m-%d$%Y')

In [ ]:
#ignoring invald string
datee = ['2017-01-05 2:30 PM','Jan 5 2017','06/05/2017','2017.01.05','2017/01/05','20170105','abc']
pd.to_datetime(datee,errors='ignore')

In [ ]:
pd.to_datetime(datee,errors='coerce')

In [ ]:
#Handling EPOCH dateformat
t = 1591151774
c =pd.to_datetime(t,unit='s')
c

In [ ]:
c.view('int64')

In [ ]:
df = pd.DataFrame({'date':['2011-04-24 01:30:00.000']})
df

In [ ]:
import datetime as dt

df['date'] = pd.to_datetime(df['date'])
df

In [ ]:
(df['date'] - dt.datetime(1970,1,1)).dt.total_seconds()

In [ ]:
datetime(1970,1,1)

# Period and Periodindex

In [ ]:
D = pd.Period('2016')
D

In [ ]:
D.start_time

In [ ]:
D.end_time

In [ ]:
m = pd.Period('2019-01-01',freq='M')
m

In [ ]:
m.start_time

In [ ]:
m.end_time

In [ ]:
d = pd.Period('2010-01-25',freq='D')
d.start_time

In [ ]:
d.end_time

In [ ]:
d+1

In [ ]:
w = pd.Period('2010-01-01',freq='W')
w

In [ ]:
w.start_time

In [ ]:
w.end_time

In [ ]:
df8 = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\Wal_period")
df8

In [ ]:
#T will transpose the data
df8.set_index('LineItem',inplace=True)

In [ ]:
df8.T

In [ ]:
df8['start_date'] = df8.index.map(lambda x:x.start_time)

In [ ]:
df8.index

In [ ]:
df8.index = pd.PeriodIndex(df8.index,freq = 'Q-JAN')

# Time Zones

In [808]:
tz = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\src\Time_zones.txt",index_col='Date_time',parse_dates=True)
tz

                     Prices
Date_time
2010-01-04 13:23:00  839383
2010-02-12 03:23:00    7458
2014-11-29 04:39:23   90191

In [802]:
tz.index

DatetimeIndex(['2010-01-04 13:23:00', '2010-02-12 03:23:00',
               '2014-11-29 04:39:23'],
              dtype='datetime64[ns]', name='Date_time', freq=None)

In [805]:
tz = tz.tz_localize(tz='US/Eastern')
tz.index

DatetimeIndex(['2010-01-04 13:23:00-05:00', '2010-02-12 03:23:00-05:00',
               '2014-11-29 04:39:23-05:00'],
              dtype='datetime64[ns, US/Eastern]', name='Date_time', freq=None)

In [ ]:
from pytz import all_timezones
all_timezones

In [809]:
tz1 = tz.tz_localize(tz='Europe/Berlin')
tz1.index

DatetimeIndex(['2010-01-04 13:23:00+01:00', '2010-02-12 03:23:00+01:00',
               '2014-11-29 04:39:23+01:00'],
              dtype='datetime64[ns, Europe/Berlin]', name='Date_time', freq=None)

In [811]:
tz1 = tz.tz_localize(tz='Asia/Calcutta')
tz1.index

DatetimeIndex(['2010-01-04 13:23:00+05:30', '2010-02-12 03:23:00+05:30',
               '2014-11-29 04:39:23+05:30'],
              dtype='datetime64[ns, Asia/Calcutta]', name='Date_time', freq=None)

In [812]:
tz1 = tz.tz_localize(tz='Asia/Calcutta')
tz1.index

DatetimeIndex(['2010-01-04 13:23:00+05:30', '2010-02-12 03:23:00+05:30',
               '2014-11-29 04:39:23+05:30'],
              dtype='datetime64[ns, Asia/Calcutta]', name='Date_time', freq=None)

In [814]:
rngg = pd.date_range(start='2020-01-01',end='2020-01-30',freq='H',tz='Europe/London')

In [815]:
rngg

DatetimeIndex(['2020-01-01 00:00:00+00:00', '2020-01-01 01:00:00+00:00',
               '2020-01-01 02:00:00+00:00', '2020-01-01 03:00:00+00:00',
               '2020-01-01 04:00:00+00:00', '2020-01-01 05:00:00+00:00',
               '2020-01-01 06:00:00+00:00', '2020-01-01 07:00:00+00:00',
               '2020-01-01 08:00:00+00:00', '2020-01-01 09:00:00+00:00',
               ...
               '2020-01-29 15:00:00+00:00', '2020-01-29 16:00:00+00:00',
               '2020-01-29 17:00:00+00:00', '2020-01-29 18:00:00+00:00',
               '2020-01-29 19:00:00+00:00', '2020-01-29 20:00:00+00:00',
               '2020-01-29 21:00:00+00:00', '2020-01-29 22:00:00+00:00',
               '2020-01-29 23:00:00+00:00', '2020-01-30 00:00:00+00:00'],
              dtype='datetime64[ns, Europe/London]', length=697, freq='H')

# Shifting and Lagging

In [816]:
tz

                     Prices
Date_time
2010-01-04 13:23:00  839383
2010-02-12 03:23:00    7458
2014-11-29 04:39:23   90191

In [822]:
tz.shift(1)

                      Prices
Date_time
2010-01-04 13:23:00   7458.0
2010-02-12 03:23:00  90191.0
2014-11-29 04:39:23      NaN

In [823]:
tz.shift(-1)

                      Prices
Date_time
2010-01-04 13:23:00   7458.0
2010-02-12 03:23:00  90191.0
2014-11-29 04:39:23      NaN

In [828]:
tz['Pre'] = tz['Prices'].shift(1)
tz

                     Prices       Pre
Date_time
2010-01-04 13:23:00  839383       NaN
2010-02-12 03:23:00    7458  839383.0
2014-11-29 04:39:23   90191    7458.0

In [830]:
tz['Chnage']  = tz['Prices'] - tz['Pre']
tz

                     Prices       Pre    Chnage
Date_time
2010-01-04 13:23:00  839383       NaN       NaN
2010-02-12 03:23:00    7458  839383.0 -831925.0
2014-11-29 04:39:23   90191    7458.0   82733.0

In [832]:
###2 day % return
tz['five%']  = (tz['Prices'] - tz['Pre'].shift(1))*100/tz['Prices'].shift(1)
tz

                     Prices       Pre    Chnage         five%
Date_time
2010-01-04 13:23:00  839383       NaN       NaN           NaN
2010-02-12 03:23:00    7458  839383.0 -831925.0           NaN
2014-11-29 04:39:23   90191    7458.0   82733.0 -10045.481362